<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'headMeta.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Store Information</title>
</head>
<body>
  <header>
    <nav>
      {% include 'nav.html' %}
  </header>
  <main>
    <p>Store Information</p>
    <p>{{ name }}</p>
    {% include 'storeInfo.html' %}
  </main>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
</html>