<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Store Information</title>
</head>
<body>
  <header>
    <nav>
      {% include 'nav.html' %}
  </header>
  <main>
    <p>Store Information</p>
    <p>{{ name }}</p>
  
  </main>
  <footer>
    <p>Cool Footer</p>
    <img id=salmonPic src="https://github.com/DevStation-COCC/bend-201d2/blob/master/class-06-dom-objects-domain_modeling/lab/assets/salmon.png?raw=true" alt="Pictue of Salmon"/>
  </footer>
</body>
</html>