<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'headMeta.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Merchandise Page</title>
</head>
<body>
  <header>
    <nav>
      {% include 'nav.html' %}
    </nav>
  </header>
  <main>
    <p>Merchandise Page</p>
    <p>{{name}}</p>
    <h3>Buy our stuff</h3>
    <img src="static/images/shirt.jpg" alt="chinook picture">   
    <img src="../assets/cutter.jpeg" alt="fish cookie cutter">
    <img id=salmonPic src="https://github.com/DevStation-COCC/bend-201d2/blob/master/class-06-dom-objects-domain_modeling/lab/assets/salmon.png?raw=true" alt="Pictue of Salmon"/>
  </main>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
</html>